.btnHeader {
  background-color: rgba(255, 255, 255, 0.60);
  border-radius: 0px;
}

.active {
  background-color: rgba(255, 255, 255, 0.80);
}

.switcherBody {
  background-color: rgba(255, 255, 255, 0.80);
  padding: 5px;
}
